:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #fff;
  --text-secondary: #ececec;
  --bg-primary: #323568;
  --bg-secondary: #647ad4;
  --transition-speed: 600ms;
}

.navbar {
  /* exo kai ala properties gia ta navbar pou ta prostehto analoga an exo megali i mikir othoni prepei na do ta media queries gia na tis megales othones pou einai kato kato sto script gia ta extra properies opos gia paradigma otix exo hegiht 100vh kai top 0 gia na valo sto simio pou thelo to navbar */
  position: fixed;
  /* gia na eiani pada sto idio place no matter an kanei scrool down o user */
  background-color: var(--bg-primary);
  /* kai xrisimopio css variable gia to background color */
  transition: width 200ms ease;
  /* exo to transition effect oste otan pao sto hover state na vgienei kai to ipolipo navbar */
  top: 0;
  left: 0;
  /* vazo to left gia na tin koliso  dkesia */
  width: 5rem;
  height: 100vh;
  z-index: 100;
  /*  vazo to navbar gia an exie 100vh kai ftiaxno kai to fix positon gia to pou tha einai se meglao  othoini */
  /* padding-right: 10px; */
  margin: 0px;
}

.navbar:hover {
  width: 16rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* kano to navbar to flex container mou */
  flex-direction: column;
  /* to defalught orientation eiani row ala exo thelo column oste to kathe ena apo ta items mou na einai se ksexoristi sira */
  align-items: center;
  /* tha einai sto meso tis column */
  min-height: 100vh;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  /* me to sudo selector last-child kano select to telefto apo ta icons mou kai epidi thelo na to exo sto telos kato kato to navbar makria apo ta ala xrisimopio to margin-top auto (mias kai exo column kai vazo oso to dinaton perisotero marign apo pano gia na apomakrintei) */
  margin-top: auto;
}

/* afto einai to kathe group icon kia text */
.nav-link {
  /* kano to navlink flexbox gia na exo se idio ipsos to icon kai to text gia kateh nav link to defalt orientation einai row pou eina orizodio akrivos afto pou thelo */
  display: flex;
  align-items: center;
  /* vazi ta pada sto kedro os pros ti katheto  */
  height: 5rem;
  /* vazo hegiht gia na boro na kano align items center */
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  /* vazo filter oste na min fenete sinexai to xroma sta icons kai meta otan kano hover pano apo icon tha afero to filter gia na fente to kanoniko xroma pou exo vali sto fa-primary */
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  /* midenizo to grayscale kai vazo to opacity 1 gia na fetne otan kano xover to xroma pou exo valei sto svg mou pou einai set up apo to fa-primary theoritka an alaza mono to background gorlo an itan apla div ala epiid to color einai se ena class pou den boof na kano hover exo afto to tropo me to filter gia na to kano na doulepsi */
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  /* thelo to kimeno na fenete mono otan kano hover pano apo to icon  */
  margin-left: 1rem;
}

/* apo edo elenxo to megethos olon ton alon svg icons ektos tou protou icon me to home icon */
.nav-link-icons {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  height: 5rem;
}

/* me afto to tropo otan kano hover to nav link mono to icon alazei xroma kai to text pou eiani alo item parameni to idio */
.nav-link:hover .nav-link-icons {
  /* fill: #647ad4; */
}

.navbar .logo1 {
  /* afto einia gia to kimeno pou exo dipla apo ta velakia kai kato kano vizualis to logo svg  pou einia ta velakia */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
  border-radius: 0;
  margin: 0;
  box-shadow: 0;
}

/* afto eiani mono gia to home icon */
.navbar .logo1 svg {
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;

  /* fill: red; */
}

.navbar:hover .link-text {
  display: inline;
}

/*  */
